@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


body {
    margin: 0;
    background-color: hsl(0, 0%, 95%);
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.item {

    width: 20%;
    padding-bottom: 5%;
}

.i_1 {
    background-color: hsl(31, 77%, 52%);
}

.i_2 {
    background-color: hsl(184, 100%, 22%);
}

.i_3 {
    background-color: hsl(179, 100%, 13%);
}

.btn {
    padding: 1em 2em;
    text-decoration: none;
    border: none;
    border-radius: 90px;
    /* margin: 40px 30px 0px 30px; */
    margin: 10% 10%;
}

.b_1 {
    color: hsl(31, 77%, 52%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
}

.b_2 {
    color: hsl(184, 100%, 22%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
}

.b_3 {
    color: hsl(179, 100%, 13%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
}

img {
    margin: 50px 30px;
}

h3 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    font-size: 2.5rem;
    margin: 0 30px;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    width: 60%;
    margin: 13% 13%;
    /* text-align: center; */
    font-size: 18px;
    line-height: 1.5;
}

@media (max-width: 768px) {
    body {
        margin: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10%;
    }

    .item {

        width: 90%;
        padding-bottom: 5%;
    }
}